.container{
  background-color: var(--bgSoft);
  padding:20px;
  border-radius: 10px;  
}

.table{

}

.title{

}

.userImage{
    border-radius: 20px;
}

.status{

}

.pending{

}

.done{

}

.canceled{

}