.container{
  display:flex;

}

.menu{
 flex:1;
 background-color: var(--bgSoft);
 padding: 20px;
.container{
 background-color: var(--bgSoft);
 padding:20px;
 border-radius:10px;
 margin-top:20px;
 min-height:100vh;
}

.top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.table{
   width:100%; 
}

.table td{
   padding:10px; 
}

.addButton{
 padding:10px;
 border-radius: 5px;
 background-color: #5d57c9;
 color:var(--text);
 border:none;
 outline:none;
 cursor:pointer;
}

.user{
  display:flex;  
  gap:10px;
  align-items: center;
}

.userImage{
 border-radius: 50%;
 object-fit: cover;
}

.buttons{
 display: flex;
 gap:10px;
}

.button{
  padding: 5px 10px;
  border-radius:5px; 
  border:none;
  outline: none; 
  color: var(--text);
  cursor:pointer;
}

.view{
 background-color: teal;;
}

.delete{
    background-color: crimson;
}
}

.content{
 flex:4;
 padding: 20px;
}

.cards{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
}

.wrapper{
 display:flex;
 gap:20px;
}

.main{
 flex:3;
 display:flex;
 flex-direction: column;
 gap:20px;
}

.side{
  flex:1;
}